In [1]:
import os
import sys
import pandas as pd

In [2]:
ls

Prenoms.csv  README.md  french-name-generator.ipynb  noms2008nat_txt.txt

In [6]:
cat Prenoms.csv | head -10

01_prenom;02_genre;03_langage;04_fr�quence
aaliyah;f;english (modern);0
aapeli;m;finnish;0
aapo;m;finnish;0
aaren;m,f;english;0
aarne;m;finnish;0
aar�n;m;spanish;0
aaron;m;english, biblical;1.37
aatami;m;finnish;0
aatto;m;finnish;0
cat: write error: Broken pipe

In [9]:
df_fname = pd.read_csv('Prenoms.csv', sep=';', encoding = "ISO-8859-1")

In [10]:
df_fname.head()

  01_prenom 02_genre        03_langage  04_fréquence
0   aaliyah        f  english (modern)           0.0
1    aapeli        m           finnish           0.0
2      aapo        m           finnish           0.0
3     aaren      m,f           english           0.0
4     aarne        m           finnish           0.0

In [11]:
cat noms2008nat_txt.txt | head -10

cat: write error: Broken pipe

In [16]:
df_lname = pd.read_csv('noms2008nat_txt.txt', sep='\t', encoding = "ISO-8859-1")

In [18]:
df_lname.head()

,NOM,_1891_1900,_1901_1910,_1911_1920,_1921_1930,_1931_1940,_1941_1950,_1951_1960,_1961_1970,_1971_1980,_1981_1990,_1991_2000
0,AABI,0,0,0,0,0,0,0,0,4,21,7
1,AABID,0,0,0,0,0,0,0,0,7,13,17
2,AALBERG,1,5,2,5,4,6,4,2,1,0,0
3,AAMARA,0,0,0,0,0,0,0,1,11,5,15
4,AARAB,0,0,0,0,0,0,0,3,63,204,139

In [19]:
from random import randint

In [27]:
fnames = len(df_fname['01_prenom'].values)
lnames = len(df_lname['NOM'].values)

In [29]:
print ("nombre de prénoms: {}, nombre de noms: {}".format(fnames, lnames))

nombre de prénoms: 11627, nombre de noms: 218983

In [50]:
fname_nb = randint(0, fnames)
lname_nb = randint(0, lnames)

print ("Mon nom est: {} {}".format(df_fname['01_prenom'].values[fname_nb].capitalize(),
                                                     df_lname['NOM'].values[lname_nb]))

Mon nom est: Magnus PEYTOUR